.header {
  padding: 30px 80px 0px;
  display: flex;
  flex-direction: column;
  height: 800px;
  box-sizing: border-box;
  position: relative;
  background-size: cover;
  background-image: url(../images/background_header.svg);
}

.header__image {
  position: absolute;
  top: 124px;
  height: 568px;
  width: 646px;
  right: 5px;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 183px;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav__link {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000;
}

.nav__link:hover {
  opacity: 50%;
  transition: opacity 0.3s ease-in-out;
}

.header__title {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 60px;
  line-height: 72px;
  color: #3f96f3;
}

.header__description {
  margin: 28px 0 0;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
}

.header__footer {
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #6f6f6f;
  margin-top: auto;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
}

.header__paragraph {
  margin: 0;
}

.header__paragraph:last-child {
  margin-top: auto;
}
